.container {
    height: 100vh;
    overflow-y: auto;
    
    display: grid;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr min-content;

    --title-size: 8vw;
    --subtitle-size: 1.5vw;
}

.leftPane {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #C2CCEF;
}

.leftTitle {
    font-size: var(--title-size);

    margin: unset;
    margin-left: 2vw;
    animation: slideDownFadeIn 1.5s ease both;
}

@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-3vh);
    }
    100% {
        opacity: 1;
        transform: translateY(2vh);
    }
}

.rightTitle {
    font-size: var(--title-size);

    color: #C2CCEF;
    margin: unset;
    margin-left: 2vw;
    animation: slideUpFadeIn 1.5s ease 0.3s both;
}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(3vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.subTitle {
    text-align: center;

    font-weight: bold;
    font-size: var(--subtitle-size);
    
    margin: unset;
    margin: 5vh 0 5vh 0;
    animation: slideUpFadeIn 1.5s ease 1s both;
}

.displacedArea {
    transition: transform 0.1s ease;
}

.displacedArea:hover{
    cursor: pointer;
    transform: translateY(-5vh);
}

@media (max-width: 800px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .displacedArea {
        order: 2
    }
    
    .leftTitle {
        animation: unset;
        margin: unset;

        margin-left: 10vw;

        font-size: 10vw;
    }


    .rightTitle {
        animation: unset;
        margin: unset;

        margin-left: 10vw;

        font-size: 10vw;
    }

    .subTitle {
        font-size: 3vw;
    }
}