.inputBox {
    /* all:unset;
    border-style: none; 
    border-color: Transparent; 
    border:none;
    border: 0;
    outline: none;
    min-height: 25vh; */
    all: unset !important;
    box-sizing: border-box !important;
    box-shadow: 0 0 10px -9px !important;
    width: 100% !important;
    min-height: 15vh !important;
    border: 2px rgba(0, 0, 0, 0) solid !important;
    border-radius: 1vh !important;
    padding: 1vw !important;
    /* filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2)) !important; */
    font-family: sans-serif !important;
}

.inputBox:hover {
    border: 2px rgba(96, 93, 93, 0.125) solid !important;
}