.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: min-content;
    height: min-content;
    
    color: black;
}

.colouredPart {
    color: #C2CCEF;
}

.container > h1 {
    font-size: 3.3vh;
    margin: unset;
}