.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  text-align: center;
  align-items: center;

  --vent-section-weight: 1;
  --listen-section-weight: 1;

  --hover-section-weight: 1.1;
  --select-section-weight: 3;

  --subheading-translation-length: 50%;

  --transition-duration: 300ms;
}

/* HOVER STYLING */
.container:has(.ventSection:hover) {
  --vent-section-weight: var(--hover-section-weight);
}

.container:has(.listenSection:hover) {
  --listen-section-weight: var(--hover-section-weight);
}

/* SELECTION STYLING */
.venterSelected {
  .ventSection {
    --vent-section-weight: var(--select-section-weight);
  }

  .ventSubheading {
    opacity: 1;
    transform: translateX(0);
  }
}

.listenerSelected {
  .listenSection {
    --listen-section-weight: var(--select-section-weight);
  }

  .listenSubheading {
    opacity: 1;
    transform: translateX(0);
  }
}

/* VENT SECTION STYLING */

.ventSection {
  flex: var(--vent-section-weight);
  background-color: #c2ccef;
  width: 100%;

  display: flex;
  flex-direction: column-reverse;

  align-items: center;
  justify-content: space-between;

  transition: var(--transition-duration);
}

.ventHeading {
  font-size: 3rem;
  margin: 0;
  padding: 1rem;

  padding: unset;
  width: 100%;
  text-align: left;
}

.ventSubheading {
  font-size: 2rem;
  align-self: end;
  text-align: right;
  width: min-content;
  margin: unset;
  opacity: 0;

  transform: translateX(calc(0% - var(--subheading-translation-length)));

  transition: var(--transition-duration);
}

/* LISTEN SECTION STYLING */

.listenSection {
  flex: var(--listen-section-weight);

  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  color: #c2ccef;

  transition: var(--transition-duration);
}

.listenHeading {
  font-size: 3rem;
  margin: 0;
  padding: 1rem;

  padding: unset;
  width: 100%;
  text-align: left;
}

.listenSubheading {
  font-size: 2rem;
  align-self: start;
  width: min-content;
  margin: unset;
  text-align: left;
  opacity: 0;

  transform: translateX(var(--subheading-translation-length));

  transition: var(--transition-duration);
}
