.container {
    height: 100vh;
    overflow-y: auto;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.leftPane {
    grid-area: 1 / 1 / 2 / 1;
    background-color: #C2CCEF;
}

.container > span {
    margin: 4vw;
    display:flex;
    flex-direction: column;
    justify-content: center;

    line-height: 6vh;
    font-size: 1.8vw;
}

.container > span > h2 {
    margin: unset;
    font-weight: bolder;
    font-size: inherit;
    text-align: center;
    padding-bottom: 2vh;
    width: 80%;
    align-self: center;
}

.container > span > ul{
    padding-bottom: 2vh;
}

.nextPageButton {
    animation: fadeIn 1s linear 5s both;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 800px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profilePicture {
        margin: unset;
        margin-bottom: -5vh;
        width: 30vw;
        align-self: center;
    }

    .container > span {
        line-height: 5vh;
        font-size: 3.5vw;
    }
}