.container {
    height: 100vh;
    overflow-y: auto;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.leftPane {
    grid-area: 1 / 1 / 2 / 1;
    background-color: #C2CCEF;
}

/* Text styling */

.container > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vh;
}

.container > section > h2 {
    margin: unset;
    align-self: center;

    font-size: inherit;
    font-weight: bolder;
    text-align: center;
    width: 80%;
    padding-bottom: 2vh;
}

.container > section > ul {
    --margin-left-right: 10vw;
    margin-left: var(--margin-left-right);
    margin-right: var(--margin-left-right);
}

.container > section > ul > li{
    padding-bottom: 3vh;
}

/* Next page button styling */

.nextPageButton {
    font-size: inherit;
    animation: fadeIn 1s linear 5s both;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Mobile styling */

@media (max-width: 800px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container > section {
        font-size: 2vh;
    }

    .container > section > h2 {
        width: 55%;
    }
}