.container {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  --gap: 3vh;
  gap: var(--gap);
  --margin-left-right: 10vw;
}

/* Scrollbar styling */

.container::-webkit-scrollbar{
  width: 0.7vw;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Layout styling (in order of elements) */

.container > header {
  z-index: 2;
}

.usernameDisplay {
  z-index: 1;
  padding-left: var(--margin-left-right);
  padding-right: var(--margin-left-right);
  padding-top: 4vh;
  margin-top: -2vh;
  padding-bottom: 6.5vh;
  margin-bottom: -6.5vh;
  background: linear-gradient(white 70%, transparent);
}

.stickyHeader {
  position: sticky;
  top: -22.5vh;
  z-index: 3;
  transition: top 600ms;
}

.stickyHeader:hover {
  top: -4vh;
}

.messageSection {
  z-index: 0;

  flex: 1;
  gap: var(--gap);
  
  margin-right: var(--margin-left-right);
  margin-left: var(--margin-left-right);
  margin-bottom: 4.5vh;
  
  display: flex;
  flex-direction: column;
}

.returnButton {
  text-align: center;
}