.container {
    display: flex;
    height: 100%;

    --title-size: 9vw;
    --subtitle-size: 1.7vw;
    --subtitle-gap: 5vh;
    --subtitle-margin-bottom: 10vh;	

    --left-title-margin-bottom: calc(var(--subtitle-gap) + var(--subtitle-size) + var(--subtitle-margin-bottom));
}

.leftPane {
    background-color: #C2CCEF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rightPane {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftTitle {
    font-size: var(--title-size);

    margin: unset;
    margin: 0 3vw var(--left-title-margin-bottom) 5vw;
    animation: slideDownFadeIn 1.5s ease both;
}

@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-3vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}


.rightTitle {
    font-size: var(--title-size);

    color: #C2CCEF;
    margin: unset;
    margin-left: 3vw;

    animation: slideUpFadeIn 1.5s ease 0.3s both;
}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(3vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.subTitle {
    text-align: center;

    font-weight: bold;
    font-size: var(--subtitle-size);

    margin: unset;
    margin-top: var(--subtitle-gap);
    margin-bottom: var(--subtitle-margin-bottom);

    animation: slideUpFadeIn 1.5s ease 1s both;
}

.socialButtons {
    flex: 1;

    display: flex;
    justify-content: right;
    gap: 2em;

    font-weight: bold;
    font-size: 2vh;

    margin-top: 10vh;
    margin-right: 5vw;
}