.usernameDisplay {
    z-index: 1;
    position: sticky;
    top: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4.5vh;
    margin-top: -4.5vh;
    padding-bottom: 4.5vh;
    margin-bottom: -4.5vh;
    background: linear-gradient(white 70%, transparent);
  }