.container {
    height: 100vh;
    overflow-y: auto;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.leftPane {
    grid-area: 1 / 1 / 2 / 1;
    background-color: #C2CCEF;
}

.profilePicture {
    grid-area: 1 / 1 / 2 / 1;
    justify-self: center;
    padding-top: 2vh;

    width: 80%;
    height: auto;

    animation: fadeIn 0.5s linear 0.5s both;
    transition: transform 0.8s ease-in-out;
}

.profilePicture:hover{
    transform: rotate(-360deg);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.container > span {
    margin: 5vw;
    animation: fadeInFromRight 0.5s linear 0.5s both;
}

.container > span > p {
    font-size: 2.2vw;
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(1vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 800px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profilePicture {
        margin: unset;
        margin-bottom: -5vh;
        width: 30vw;
        align-self: center;
    }

    .container > span > p {
        font-size: 3.5vw;
    }
}