.container {
    height: 100vh;
    overflow-y: auto;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.leftPane {
    grid-area: 1 / 1 / 2 / 1;
    background-color: #C2CCEF;
}

/* Image styling */

.profilePicture {
    grid-area: 1 / 1 / 2 / 1;
    justify-self: center;

    width: 70%;
    height: auto;

    animation: fadeIn 0.5s linear 0.5s both;
    transition: transform 0.8s ease-in-out;

    position: relative;
    top: 8vh;
}

.profilePicture:hover{
    transform: rotate(-360deg);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Text styling */

.container > section {
    display: flex;
    flex-direction: column;
    gap: 5vh;

    justify-content: center;

    --margin-left-right: 13vw;
    margin-left: var(--margin-left-right);
    margin-right: var(--margin-left-right);

    animation: fadeInFromRight 0.5s linear 0.5s both;

    font-size: 3.5vh;
}

.container > section > p {
    margin: unset;
}

.container > section > *:last-child {
    font-size: inherit;
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(1vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Mobile styling */

@media (max-width: 1000px){
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 5vh;
    }

    .profilePicture {
        top: unset;
        width: unset;
        align-self: center;
        height: 15vh;

        background: rgba(0, 0, 0, 0.03);
        border-radius: 50px;
    }

    .container > section {
        height: min-content;
        justify-content: flex-start;
        gap: 2vh;
    }

    .container > section > p {
        font-size: 2vh;
    }

    .container > section > p:last-of-type {
        margin-bottom: 5vh;
    }

    .container > section > *:last-child {
        font-size: 2.5vh;
    }
}