.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  text-align: center;
  align-items: center;

  --vent-section-weight: 1;
  --listen-section-weight: 1;

  --hover-section-weight: 1.1;
  --select-section-weight: 3;

  --subheading-translation-length: 10vh;

  --transition-duration: 300ms;
}

/* Hover styling */
.container:has(.ventSection:hover) {
  --vent-section-weight: var(--hover-section-weight);
}

.container:has(.listenSection:hover) {
  --listen-section-weight: var(--hover-section-weight);
}

/* Selection styling */
.venterSelected {
  .ventSection {
    --vent-section-weight: var(--select-section-weight);
  }

  .ventSubheading {
    opacity: 1;
    transform: translateX(0);
  }
}

.listenerSelected {
  .listenSection {
    --listen-section-weight: var(--select-section-weight);
  }

  .listenSubheading {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Vent section styling */

.ventSection {
  flex: var(--vent-section-weight);
  background-color: #c2ccef;
  width: 100%;

  display: flex;
  flex-direction: column-reverse;

  align-items: center;
  justify-content: space-between;

  transition: var(--transition-duration);
}

.ventHeading {
  font-size: 12vw;
  margin: 0;
  padding: 1rem;

  padding: unset;
  width: 100%;
  text-align: center;
}

.ventSubheading {
  font-size: 6vw;
  align-self: end;
  text-align: center;
  width: 100%;
  margin: unset;
  opacity: 0;

  padding-top: 5vh;

  transform: translateY(calc(0% - var(--subheading-translation-length)));

  transition: var(--transition-duration);
}

/* Listen section styling */

.listenSection {
  flex: var(--listen-section-weight);

  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  color: #c2ccef;

  transition: var(--transition-duration);
}

.listenHeading {
  font-size: 12vw;
  margin: 0;
  padding: 1rem;

  padding: unset;
  width: 100%;
  text-align: center;
}

.listenSubheading {
  font-size: 6vw;
  align-self: start;
  width: 100%;
  text-align: center;
  margin: unset;
  opacity: 0;

  padding-bottom: 5vh;

  transform: translateY(var(--subheading-translation-length));

  transition: var(--transition-duration);
}
