.container {
    display: grid;
    height: 100vh;
    transition: grid-template-columns 600ms;

    --grid-template-columns: 50% 50%;
    grid-template-columns: var(--grid-template-columns);

    --header-size: 15vh;
    --subHeader-size: 5vh;
    --middle-padding: 4vw;
    /* --hover-text-weight: 1.04; */
    --transition-duration: 200ms;

    --hover-section-weight: 5%;
    --select-section-weight: 25%;
}

/** HOVER STYLING **/

.container:has(.ventSection:hover) {
    --grid-template-columns: calc(50% - var(--hover-section-weight)) calc(50% + var(--hover-section-weight));

    /* .ventHeader {
        transform: scale(var(--hover-text-weight));
    }

    .ventSubheader {
        transform: translateX(5%);
    } */

    .ventHeader,
    .ventSubheader {
        opacity: 1;
    }
}

.container:has(.listenSection:hover) {
    --grid-template-columns: calc(50% + var(--hover-section-weight)) calc(50% - var(--hover-section-weight));

    /* .listenHeader {
        transform: scale(var(--hover-text-weight));
    }

    .listenSubheader {
        transform: translateX(-5%);
    } */

    .listenHeader,
    .listenSubheader {
        opacity: 1;
    }
}

/* SELECTION STYLING */

.venterSelected {
    .container:has(.ventSection:hover),
    .container {
        --grid-template-columns: calc(50% + var(--select-section-weight)) calc(50% - var(--select-section-weight));
    }

    .listenHeader,
    .listenSubheader {
        opacity: 0;
    }
}

.listenerSelected {
    .container:has(.listenSection:hover),
    .container {
        --grid-template-columns: calc(50% - var(--select-section-weight)) calc(50% + var(--select-section-weight));
    }

    .ventHeader,
    .ventSubheader {
        opacity: 0;
    }
}

/* LEFT SECTION STYLING */

.ventSection {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    background-color: #C2CCEF;

    padding-right: var(--middle-padding);
    transition: var(--transition-duration);

    overflow: hidden;
}

.ventHeader {
    grid-row: 1;
    text-align: right;

    margin: unset;
    align-self: center;

    font-size: var(--header-size);

    transition: var(--transition-duration);
}

.ventSubheader {
    grid-row: 2;
    text-align: right;
    width: min-content;
    justify-self: end;
    align-self: end;

    font-size: var(--subHeader-size);
    margin: unset;

    transition: var(--transition-duration);
}

/* RIGHT SECTION STYLING */

.listenSection {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    color: #C2CCEF;

    padding-left: var(--middle-padding);

    transition: var(--transition-duration);
}

.listenHeader {
    grid-row: 1;
    font-size: var(--header-size);

    align-self: center;

    transition: var(--transition-duration);

    margin: unset;
}

.listenSubheader {
    grid-row: 3;
    text-align: left;
    width: min-content;
    font-size: var(--subHeader-size);

    margin: unset;

    transition: var(--transition-duration);
}

/** FIXED ELEMENTS **/

.statsPositioner {
    /* grid-row: 4;
    display: flex;
    justify-content: start;
    align-items: end; */

    position: fixed;
    bottom: 0;
    left: 0;
}

.logoPositioner {
    /* grid-row: 4;
    display: flex;
    justify-content: end;
    align-items: end; */

    position: fixed;
    bottom: 0;
    right: 0;
}

